details > div {
  margin-left: 1.5em;
  margin-top: 0.5em;
}

@media (prefers-color-scheme: dark) {
  html {
      background: #333;
      filter: invert(1) hue-rotate(180deg)
  }

  /* html img {
    filter: invert(1) hue-rotate(180deg)
  } */
}