body {
  font-size: 200%;
  color: #ccffcc;
  background-color: #2e0c22;
}

h1 {
  text-align: center;
}

.link:hover {
  background-color: #88888888;
}

.text {
  position: absolute;
  width: 100%;
  text-align: center;
}

.text1middle {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 50%;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 1em;
}

a {
  color: #eeffee;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
